html {
  scroll-padding-top: 55px;
  scroll-behavior: smooth;
}
:root {
  --main-color: #4726e1;
}
body {
  overflow: hidden;
  background-color: #ffffff;
  color: #111111;
  transition: all 0.3s ease;
}

body.dark {
  background-color: #0b0f14;
  color: #e6eef8;
}

body.dark p {
  color: white !important;
}

body.dark .card p,
body.dark .card h5,
body.dark .card h6 {
  color: black !important;
}

body.dark .client-feedback h6 {
  color: white !important;
}

/* button dark mode */
#darkMode {
  border-radius: 50px;
  color: black;
  background-color: #e6eef8;
}

body.dark #darkMode {
  background-color: black;
  color: white;
}
.text-main {
  color: var(--main-color);
}
header {
  background-image: url(../images/vecteezy_enigmatic-hooded-figure-manipulates-a-glowing-laptop-against_66609399.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}
.icon {
  width: 2rem;
  height: 2rem;
}
.link a {
  text-decoration: none;
  color: white;
}
.title {
  width: 100%;
  overflow: hidden;
}
.title h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #f4f4f4;
  letter-spacing: 10px;
}
.title h3 {
  font-size: 2rem;
  font-weight: 900;
  color: black;
}
.client-feedback {
  border: 4px solid #f1f1f1;
}
.img-style {
  width: 90px;
  height: 90px;
  border: 4px solid #f1f1f1;
  border-radius: 50%;
  transform: translateY(50%);
}
.client-feedback h6 {
  position: relative;
}
.client-feedback h6::after {
  content: " ";
  background-color: var(--main-color);
  height: 2px;
  width: 10%;
  position: absolute;
  left: 45%;
  bottom: 0;
}
.carousel-indicators [data-bs-target] {
  width: 50px;
  height: 50px;
  border: 3px solid #f1f1f1;
  border-radius: 50%;
  text-indent: 0;
}
.card {
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
#contacts .contacts-info {
  border: 4px solid #f1f1f1;
  border-radius: 1rem;
  padding: 2rem;
}
#contacts .contacts-info a {
  color: gray;
  font-weight: 600;
}
form button {
  width: 30%;
}
#about {
  min-height: 100vh;
}
#testimonial {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#courses {
  min-height: 100vh;
}
#contacts {
  min-height: 100vh;
}

/* loading Page */
#loading {
  background-color: #212529;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#loading i {
  font-size: 50px;
  color: white;
}

/* button Top */
#btnTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 9999;
  display: none;
}

/* side bar */

#ColorBoxId {
  background-color: #212529;
  position: fixed;
  left: 0;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#ColorBoxId .color-icon {
  padding: 5px;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#ColorBoxId .color-box {
  color: white;
  background-color: #212529;
  padding: 5px;
  display: none;
}
#ColorBoxId .color-box span {
  display: inline-block;
  margin: 2px;
  width: 30px;
  height: 30px;
}
#spanOne {
  background-color: #09c;
}
#spanTwo {
  background-color: darkgray;
}
#spanThree {
  background-color: teal;
}
#spanFour {
  background-color: var(--main-color);
}
#spanFive {
  background-color: tomato;
}

@media screen and (max-width: 767px) {
  .title h2 {
    font-size: 2rem;
    letter-spacing: 3px;
  }

  .title h3 {
    font-size: 1.5rem;
  }
}
